@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.bodyPadding{
	padding-top: 107px;
}
@media screen and (max-width: 640px){
	.bodyPadding{
		padding-top: 0;
	}
}